conf/application.conf
.idea/
*.bak
logs
project/project
project/target
target
tmp
PlayStartApp.iml
.classpath
.project
.settings
out
conf/mail.conf
conf/evolutions
documentation/
*.swp
*~
.history
*.pyc
bower_components
.bower_components
node_modules
*/**.log
public/javascripts
public/stylesheets
npm-debug.log
